# .dockerignore
_data/
_env/

# Ignorar dependências locais. Elas serão instaladas dentro do container.
node_modules

# Ignorar logs e arquivos de debug do npm
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignorar arquivos de configuração de IDE e sistema
.idea
.vscode
*.suo
*.ntvs*
.DS_Store

# Ignorar o próprio Dockerfile e arquivos de composição (não precisam estar na imagem)
Dockerfile
docker-compose.yml

# Ignorar o repositório Git
.git
.gitignore

# Ignorar arquivos de ambiente (eles devem ser injetados no container, não copiados)
.env*